nltk
streamlit
pandas
scikit-learn
py2neo
neo4j~=5.28.0
pyvis
tqdm
python-dotenv
numpy==1.26.4
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
